Repository voxpupuli/puppet-caddy, pull requests merged in 2020-04, with the labels that each got.

#24 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#28 Release 1.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#42 Move resources to related classes
  manifests/config.pp
  manifests/init.pp
  manifests/service.pp
  spec/classes/config_spec.rb
  spec/classes/init_spec.rb
  spec/classes/service_spec.rb
Labels: needs-rebase

#35 Redhat 8 support take 2
  .fixtures.yml
  .travis.yml
  hiera.yaml
  manifests/init.pp
  manifests/params.pp
  manifests/service.pp
  manifests/vhost.pp
  metadata.json
  spec/classes/init_spec.rb
  spec/defines/vhost_spec.rb
Labels: enhancement

#49 Add support for Debian 8/9/10, Ubuntu 16.04/18.04
  .sync.yml
  .travis.yml
  README.md
  REFERENCE.md
  data/family/Debian.yaml
  files/etc/caddy/Caddyfile
  files/etc/caddy/config/example1.conf
  files/etc/caddy/config/example2.conf
  hiera.yaml
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/service.pp
  manifests/vhost.pp
  metadata.json
  spec/classes/init_spec.rb
  spec/defines/vhost_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  templates/etc/init.d/caddy.erb
  templates/etc/systemd/system/caddy.service.erb
Labels: backwards-incompatible

#64 Change the default values
  REFERENCE.md
  data/family/Debian.yaml
  manifests/init.pp
  manifests/install.pp
  manifests/vhost.pp
  spec/classes/init_spec.rb
  spec/defines/vhost_spec.rb
Labels: backwards-incompatible

#61 Migrate from .erb to .epp templates
  manifests/service.pp
  templates/etc/init.d/caddy.epp
  templates/etc/systemd/system/caddy.service.epp
Labels: enhancement

#60 Add support for a specific version
  README.md
  REFERENCE.md
  manifests/init.pp
  manifests/install.pp
  spec/classes/init_spec.rb
Labels: enhancement
