Repository voxpupuli/puppet-caddy, pull requests merged in 2023-07, with the labels that each got.

#87 Drop Debian 8, 9 and Ubuntu 16.04 (EOL)
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .puppet-lint.rc
  .rspec
  .rspec_parallel
  .rubocop.yml
  .sync.yml
  .travis.yml
  .yardopts
  Dockerfile
  Gemfile
  README.md
  REFERENCE.md
  Rakefile
  examples/init.pp
  files/etc/caddy/config/example1.conf
  files/etc/caddy/config/example2.conf
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/service.pp
  manifests/vhost.pp
  metadata.json
  spec/acceptance/init_spec.rb
  spec/acceptance/nodesets/archlinux-2-x64.yml
  spec/acceptance/nodesets/centos-6.yml
  spec/acceptance/nodesets/centos-7.yml
  spec/acceptance/nodesets/ec2/amazonlinux-2016091.yml
  spec/acceptance/nodesets/ec2/image_templates.yaml
  spec/acceptance/nodesets/ec2/rhel-73-x64.yml
  spec/acceptance/nodesets/ec2/sles-12sp2-x64.yml
  spec/acceptance/nodesets/ec2/ubuntu-1604-x64.yml
  spec/acceptance/nodesets/ec2/windows-2016-base-x64.yml
  spec/classes/init_spec.rb
  spec/defines/vhost_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  templates/etc/init.d/caddy.epp
  templates/etc/systemd/system/caddy.service.epp
Labels: backwards-incompatible

#83 Add Puppet 8 support
  metadata.json
Labels: enhancement

#82 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement

#89 Allow stm/file_capability 6.x
  metadata.json
Labels: enhancement

#77 puppet/archive: allow 5.x
  metadata.json
Labels: enhancement

#88 Allow puppet/systemd 5.x
  metadata.json
Labels: enhancement

#84 Actually fix github
  manifests/install.pp
  spec/acceptance/init_spec.rb
  spec/classes/init_spec.rb
Labels: bug

#96 Do not cache files in /tmp & remove stm/file_capability dependency
  .fixtures.yml
  REFERENCE.md
  manifests/init.pp
  manifests/install.pp
  metadata.json
  spec/acceptance/init_spec.rb
  spec/classes/init_spec.rb
Labels: backwards-incompatible
