Repository voxpupuli/puppet-caddy, pull requests merged in 2025-07, with the labels that each got.

#131 Do not manage systemd unit when installing caddy from a repo
  manifests/service.pp
  spec/acceptance/init_spec.rb
  spec/classes/init_spec.rb
Labels: bug

#126 chore: cleanup .fixtures.yml
  .fixtures.yml
Labels: skip-changelog

#124 metadata.json: Add OpenVox
  metadata.json
Labels: enhancement

#134 Use 'site' install_method instead of `undef` to install Caddy from the official site
  REFERENCE.md
  manifests/init.pp
  manifests/install.pp
  manifests/install/github.pp
  manifests/install/site.pp
Labels: enhancement

#142 puppet/archive Allow 8.x
  metadata.json
Labels: enhancement
